//----------//
// .account //
//----------//
.register,
.login
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    max-width: 600px
    margin: 50px auto
    padding: 80px 50px
    text-align: center
    border: 2px solid $dark-color
    border-radius: 10px

    .form
        max-width: 500px
        text-align: left

        &__button
            min-width: 60%
            margin: 0 auto

    &__title
        margin-bottom: 50px
        font-size: 2.5em

    .topics
        display: flex
        justify-content: center
        flex-wrap: wrap

.complete
    border: none