@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #242323;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

h1 {
    font-size: 4em;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    color: #242323;
    border: 1px solid #242323;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    color: #d40634;
    border-color: #d40634;
}

.button:hover {
    transform: translateY(-0.2em);
}

.button:active {
    transform: translateY(0em);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__item {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.form__label {
    display: block;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.form__input {
    position: relative;
    width: 100%;
    padding: 5px;
    background-color: inherit;
    font-size: 1.4em;
    border: 1px solid #242323;
    border-radius: 5px;
    outline: none;
}

.form__textarea {
    width: 100%;
    min-height: 100px;
    max-height: 250px;
    padding: 10px;
    font-size: 1.4em;
    border: 1px solid #242323;
    outline: none;
    resize: vertical;
}

.form__input:focus, .form__textarea:focus {
    border-color: #d40634;
}

.form__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    margin-bottom: 10px;
    padding: 15px 38px 15px 16px;
    background-size: 10px;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}

.form__select:hover {
    border: 1px solid #999;
}

.form__select:focus {
    border: 1px solid #999;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}

.form__title {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.logo {
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0;
}

.label-choice {
    position: relative;
    display: block;
    min-width: 100px;
    margin-right: 15px;
    text-align: center;
}

.label-choice:last-child {
    margin-right: 0;
}

.label-choice__checkbox {
    opacity: 0;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.label-choice__checkbox:checked + .label-choice__title, .label-choice__checkbox:hover + .label-choice__title {
    opacity: 1;
}

.label-choice__title {
    opacity: 0.7;
    display: block;
    padding: 20px;
    background-color: #d40634;
    color: #fff;
    border-radius: 20px;
    transition: opacity 0.6s ease;
}

.header {
    padding: 20px 0;
    background-color: #d40634;
    font-weight: 500;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-buttons__button,
.header .nav__link {
    padding: 5px 0;
    transition: border-bottom 0.1s ease;
}

.header .header-buttons__button:hover,
.header .nav__link:hover {
    border-bottom: 3px solid #fff;
}

.header-buttons {
    display: flex;
}

.header-buttons__item {
    margin-right: 50px;
}

.header-buttons__item:last-child {
    margin-right: 0;
}

.header-buttons__button {
    margin-right: 20px;
}

.header-buttons__button:last-child {
    margin-right: 0;
}

.progress-bar {
    display: flex;
    justify-content: space-around;
}

.progress-bar__item {
    opacity: 0.3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 10px;
    background-color: #d40634;
}

.progress-bar__item--first {
    opacity: 1;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.progress-bar__item--fifth {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.progress-bar__item.active {
    opacity: 1;
}

.event-item,
.group-item {
    position: relative;
    display: flex;
    min-width: 70%;
    max-width: 70%;
    padding: 20px 10px;
    color: #242323;
    border: 2px solid #242323;
    border-radius: 10px;
    box-shadow: #26394d 0px 15px 20px -10px;
}

.event-item:last-child,
.group-item:last-child {
    margin-bottom: 0;
}

.event-item:hover,
.group-item:hover {
    transform: translate(-5px, -5px);
}

.event-item__avatar,
.group-item__avatar {
    max-width: 150px;
    max-height: 150px;
    margin-right: 50px;
    background-color: #242323;
    border-radius: 30px;
}

.event-item__img,
.group-item__img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #242323;
    border-radius: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.event-item__information > div,
.group-item__information > div {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.event-item__information .event-item__title, .event-item__information .group-item__title,
.group-item__information .event-item__title,
.group-item__information .group-item__title {
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.event-item__information .event-item__description, .event-item__information .group-item__description,
.group-item__information .event-item__description,
.group-item__information .group-item__description {
    line-height: 26px;
    word-break: break-word;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}

.event-item__location,
.group-item__location {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
    background-color: #d40634;
    color: #ffffff;
    opacity: 0.9;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.event-item__categories,
.group-item__categories {
    display: flex;
}

.event-item__categories > span,
.group-item__categories > span {
    margin-left: 5px;
}

.entity-participation {
    position: relative;
    width: 300px;
    margin-right: 10px;
    font-size: 0.9em;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

.entity-participation:after {
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    background-color: #d40634;
    color: #fff;
    border-radius: 10px;
}

.entity-participation--active {
    background-color: #d40634;
    border: 2px solid #d40634;
    color: #fff;
}

.entity-participation--active:hover:after {
    opacity: 1;
    display: flex;
}

.entity-participation--event:after {
    content: "Покинуть событие";
}

.entity-participation--group:after {
    content: "Покинуть группу";
}

.new-entity {
    padding: 40px 10px;
    text-align: center;
}

.new-entity__inner {
    position: relative;
    min-height: 300px;
}

.new-entity__title {
    font-size: 2.8em;
    margin-bottom: 40px;
}

.new-entity__step {
    display: none;
}

.new-entity__step.active {
    display: block;
}

.new-entity--group .progress-bar__item {
    width: 25%;
}

.new-entity__step--second .new-entity-content {
    max-width: 500px;
    background-color: #fff;
}

.new-entity__step--fifth .new-entity-content {
    max-width: 600px;
}

.new-entity-header {
    padding: 50px 0;
}

.new-entity-header__title {
    font-size: 2.2em;
    margin-bottom: 15px;
}

.new-entity-header__description {
    font-size: 1.2em;
}

.new-entity-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.new-entity-content__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.new-entity-content__item:last-child {
    margin-bottom: 0;
}

.new-entity-content__title {
    margin: 20px;
    font-size: 1.3em;
}

.new-entity-content .form__input,
.new-entity-content .form__select {
    min-width: 50%;
    max-width: 50%;
}

.new-entity-content .form__textarea {
    font-size: 1em;
    min-height: 250px;
}

.new-entity-content .topics {
    display: flex;
    justify-content: center;
}

.new-entity-content__location,
.new-entity-content .form__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new-entity-content__location {
    display: none;
}

.new-entity-content__formats {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.new-entity--group .new-entity-content__location {
    display: flex;
}

.step-button,
.create-entity {
    position: absolute;
    bottom: -100px;
    padding: 10px 30px;
    background-color: #d40634;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.step-button--next,
.create-entity--next {
    opacity: 0.5;
    right: 0;
    cursor: default;
}

.step-button--previous,
.create-entity--previous {
    display: none;
    left: 0;
}

.create-entity {
    opacity: 0.5;
    right: 0;
    cursor: default;
}

.step-button--next.active,
.create-entity.active {
    opacity: 1;
    cursor: pointer;
}

.events__inner,
.groups__inner {
    padding-top: 50px;
}

.events .event-item,
.events .group-item,
.groups .event-item,
.groups .group-item {
    margin-bottom: 40px;
}

.events-header,
.groups-header {
    margin-bottom: 50px;
}

.events-header__title,
.groups-header__title {
    margin-bottom: 40px;
    font-size: 3em;
}

.events-header__top, .events-header__location,
.groups-header__top,
.groups-header__location {
    display: flex;
}

.events-header__top > label, .events-header__location > label,
.groups-header__top > label,
.groups-header__location > label {
    margin-right: 30px;
}

.events-header__top > label:last-child, .events-header__location > label:last-child,
.groups-header__top > label:last-child,
.groups-header__location > label:last-child {
    margin-right: 0;
}

.events-header .form__item,
.groups-header .form__item {
    width: inherit;
}

.events-header .form__select,
.groups-header .form__select {
    max-width: 200px;
    min-width: 200px;
    padding: 10px;
}

.events-header .form__input,
.groups-header .form__input {
    width: 30%;
    font-size: 0.8em;
}

.events-content,
.groups-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.event__inner {
    padding-top: 30px;
}

.event__inner > div {
    margin-bottom: 10px;
    border: 2px solid #242323;
    border-radius: 10px;
}

.event-header {
    position: relative;
    display: flex;
    padding-top: 100px;
    border: 2px solid #242323;
}

.event-header__avatar {
    max-width: 350px;
    max-height: 350px;
    margin: 0 100px 100px 100px;
}

.event-header__img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #242323;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.event-header__information {
    font-size: 1.4em;
}

.event-header__information > div {
    margin-bottom: 8px;
}

.event-header__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2em;
}

.event-header__location {
    display: flex;
    align-items: center;
}

.event-header__location > div {
    margin-left: 10px;
    font-size: 0.9em;
    color: #5b5b5b;
}

.event-header__participation {
    margin-top: 40px;
    display: flex;
    font-size: 1em;
}

.event-content {
    padding: 0 40px 40px;
    border: 2px solid #242323;
}

.event-content__header {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.event-content__title {
    margin-right: 15px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    opacity: 0.5;
}

.event-content__title:last-child {
    margin-right: 0;
}

.event-content__title.active {
    opacity: 1;
    background-color: #d40634;
    color: #fff;
    cursor: pointer;
}

.event-content__description {
    font-size: 1.5em;
    line-height: 1.4em;
    word-break: break-word;
}

.event-topics {
    padding: 10px;
}

.event-topics__title {
    margin: 20px 0;
    font-size: 1.7em;
}

.event-topics__inner {
    display: flex;
}

.event-topics .label-choice {
    cursor: default;
}

.event-topics .label-choice__title {
    opacity: 1;
}

/*# sourceMappingURL=events.css.map */
