@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #242323;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

h1 {
  font-size: 4em;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 8px 20px;
  background-color: #fff;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  color: #242323;
  border: 1px solid #242323;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  color: #d40634;
  border-color: #d40634;
}
.button:hover {
  transform: translateY(-0.2em);
}
.button:active {
  transform: translateY(0em);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__item {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.form__label {
  display: block;
  margin-bottom: 15px;
  font-size: 1.4em;
}
.form__input {
  position: relative;
  width: 100%;
  padding: 5px;
  background-color: inherit;
  font-size: 1.4em;
  border: 1px solid #242323;
  border-radius: 5px;
  outline: none;
}
.form__textarea {
  width: 100%;
  min-height: 100px;
  max-height: 250px;
  padding: 10px;
  font-size: 1.4em;
  border: 1px solid #242323;
  outline: none;
  resize: vertical;
}
.form__input:focus, .form__textarea:focus {
  border-color: #d40634;
}
.form__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  margin-bottom: 10px;
  padding: 15px 38px 15px 16px;
  background-size: 10px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
}
.form__select:hover {
  border: 1px solid #999;
}
.form__select:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  outline: none;
}
.form__title {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.logo {
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__item {
  margin-right: 30px;
}
.nav__item:last-child {
  margin-right: 0;
}

.label-choice {
  position: relative;
  display: block;
  min-width: 100px;
  margin: 15px;
  text-align: center;
}
.label-choice__checkbox {
  opacity: 0;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.label-choice__checkbox:checked + .label-choice__title, .label-choice__checkbox:hover + .label-choice__title {
  opacity: 1;
}
.label-choice__title {
  opacity: 0.7;
  display: block;
  padding: 20px;
  background-color: #d40634;
  color: #fff;
  border-radius: 20px;
  transition: opacity 0.6s ease;
}

.header {
  padding: 20px 0;
  background-color: #d40634;
  font-weight: 500;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-buttons__button,
.header .nav__link {
  padding: 5px 0;
  transition: border-bottom 0.1s ease;
}
.header .header-buttons__button:hover,
.header .nav__link:hover {
  border-bottom: 3px solid #fff;
}

.header-buttons {
  display: flex;
}
.header-buttons__item {
  margin-right: 50px;
}
.header-buttons__item:last-child {
  margin-right: 0;
}
.header-buttons__button {
  margin-right: 20px;
}
.header-buttons__button:last-child {
  margin-right: 0;
}

.progress-bar {
  display: flex;
  justify-content: space-around;
}
.progress-bar__item {
  opacity: 0.3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 10px;
  background-color: #d40634;
}
.progress-bar__item--first {
  opacity: 1;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.progress-bar__item--fifth {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.progress-bar__item.active {
  opacity: 1;
}

.event-item {
  display: flex;
  min-width: 70%;
  max-width: 70%;
  padding: 10px;
  color: #242323;
  border: 2px solid #242323;
  border-radius: 10px;
}
.event-item:last-child {
  margin-bottom: 0;
}
.event-item:hover {
  transform: translate(-20px, -10px);
}
.event-item__avatar {
  max-width: 150px;
  max-height: 150px;
  margin-right: 50px;
}
.event-item__img {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #242323;
  border-radius: 30px;
}
.event-item__information > div {
  margin-bottom: 10px;
  font-size: 1.2em;
}
.event-item__information .event-item__title {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 700;
}
.event-item__description {
  line-height: 1.4em;
  word-break: break-word;
}
.event-item__location {
  font-style: italic;
  color: #5b5b5b;
}
.event-item__time {
  font-weight: 700;
}
.event-item__categories {
  display: flex;
}
.event-item__categories > span {
  margin-left: 5px;
}

.events__inner {
  padding-top: 50px;
}
.events__inner .event-item {
  margin-bottom: 20px;
}

.events-header {
  margin-bottom: 50px;
}
.events-header__title {
  font-size: 3em;
  margin-bottom: 40px;
}
.events-header__top, .events-header__location {
  display: flex;
}
.events-header__top > label, .events-header__location > label {
  margin-right: 30px;
}
.events-header__top > label:last-child, .events-header__location > label:last-child {
  margin-right: 0;
}
.events-header .form__item {
  width: inherit;
}
.events-header .form__select {
  max-width: 200px;
  min-width: 200px;
  padding: 10px;
}
.events-header .form__input {
  width: 30%;
  font-size: 0.8em;
}

.events-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-event {
  padding: 40px 10px;
  text-align: center;
}
.new-event__inner {
  position: relative;
  min-height: 300px;
}
.new-event__title {
  font-size: 2.8em;
  margin-bottom: 40px;
}
.new-event__step {
  display: none;
}
.new-event__step.active {
  display: block;
}

.new-event__step--second .new-event-content {
  max-width: 500px;
  background-color: #fff;
}
.new-event__step--fifth .new-event-content {
  max-width: 600px;
}

.new-event-header {
  padding: 50px 0;
}
.new-event-header__title {
  font-size: 2.2em;
  margin-bottom: 15px;
}
.new-event-header__description {
  font-size: 1.2em;
}

.new-event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.new-event-content__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.new-event-content__item:last-child {
  margin-bottom: 0;
}
.new-event-content__title {
  margin: 20px;
  font-size: 1.3em;
}
.new-event-content .form__input,
.new-event-content .form__select {
  min-width: 50%;
  max-width: 50%;
}
.new-event-content .form__textarea {
  font-size: 1em;
  min-height: 250px;
}
.new-event-content .topics {
  display: flex;
  justify-content: center;
}
.new-event-content__location,
.new-event-content .form__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.new-event-content__location {
  display: none;
}
.new-event-content__formats {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.step-button {
  position: absolute;
  bottom: -100px;
  padding: 10px 30px;
  background-color: #d40634;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}
.step-button--next, .step-button--create {
  right: 0;
}
.step-button--previous {
  display: none;
  left: 0;
}

.profile__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.profile-about,
.profile-main {
  border: 2px solid #242323;
  border-radius: 5px;
}

.profile-about,
.profile-main {
  min-height: 600px;
}

.profile-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-right: 100px;
  padding: 45px 20px;
}
.profile-about__item {
  margin-bottom: 20px;
}
.profile-about__photo {
  overflow: hidden;
  max-width: 100px;
  background-color: #242323;
  border: 2px solid #242323;
  border-radius: 100%;
}
.profile-about__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.profile-about__username {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 500;
}
.profile-about__name {
  font-size: 1.2em;
}
.profile-about__location {
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.3em;
  color: #5b5b5b;
}
.profile-about__location span {
  font-weight: 700;
  font-style: normal;
  color: #111;
}

.profile-main {
  width: 70%;
  padding: 15px 30px;
}
.profile-main__header {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
}
.profile-main__title {
  padding: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.profile-main__title.active, .profile-main__title:hover {
  background-color: #d40634;
  font-weight: 700;
  color: #fff;
}
.profile-main__descr {
  word-wrap: break-word;
  font-size: 1.4em;
}

.profile-topics {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #242323;
  border-radius: 10px;
}
.profile-topics__inner {
  display: flex;
  padding: 10px 5px;
}
.profile-topics__subtitle {
  margin: 15px 0;
  font-size: 1.5em;
}
.profile-topics .label-choice {
  margin: 0 15px 0 0;
  cursor: default;
}
.profile-topics .label-choice:last-child {
  margin-right: 0;
}
.profile-topics .label-choice__title {
  opacity: 1;
}

.event__inner {
  padding-top: 30px;
}
.event__inner > div {
  margin-bottom: 10px;
  border: 2px solid #242323;
  border-radius: 10px;
}

.event-header {
  display: flex;
  padding-top: 100px;
  border: 2px solid #242323;
}
.event-header__avatar {
  max-width: 350px;
  max-height: 350px;
  margin: 0 100px 100px 100px;
}
.event-header__img {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #242323;
  border-radius: 100%;
}
.event-header__information {
  font-size: 1.4em;
}
.event-header__information > div {
  margin-bottom: 8px;
}
.event-header__title {
  margin-bottom: 20px;
  font-size: 2em;
}
.event-header__location {
  display: flex;
  align-items: center;
}
.event-header__location > div {
  margin-left: 10px;
  font-size: 0.9em;
  color: #5b5b5b;
}

.event-content {
  padding: 0 40px 40px;
  border: 2px solid #242323;
}
.event-content__header {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.event-content__title {
  margin-right: 15px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.event-content__title:last-child {
  margin-right: 0;
}
.event-content__description {
  font-size: 1.5em;
  line-height: 1.4em;
}

.event-content__title.active,
.event-content__title:hover {
  background-color: #d40634;
  color: #fff;
}

.event-topics {
  padding: 10px;
}
.event-topics__title {
  margin: 20px 0;
  font-size: 1.7em;
}
.event-topics__inner {
  display: flex;
}
.event-topics .label-choice {
  cursor: default;
}
.event-topics .label-choice__title {
  opacity: 1;
}

/*# sourceMappingURL=events.css.map */
