//-------//
// .form //
//-------//
.form
    display: flex
    flex-direction: column

    &__item
        position: relative
        margin-bottom: 20px

    &__label
        display: block
        margin-bottom: 5px
        font-size: 1.4em

    &__input
        position: relative
        width: 100%
        padding: 5px
        background-color: inherit
        font-size: 1.4em
        border: 1px solid $dark-color
        border-radius: 5px
        outline: none

    &__textarea
        width: 100%
        min-height: 100px
        max-height: 250px
        padding: 10px
        font-size: 1.4em
        border: 1px solid $dark-color
        outline: none
        resize: vertical