//--------------//
// .member-item //
//--------------//
.member-item
    position: relative
    font-size: 20px
    line-height: 25px
    color: #111

    &:hover
        transform: none

        .report-button
            opacity: 1
            visibility: visible

    .report-button
        position: absolute
        top: 0
        right: 0
        border-radius: 0


//---------------//
// .members-list //
//---------------//
.members-list
    overflow-y: scroll
    display: none
    flex-direction: column
    justify-content: start
    align-items: center
    min-height: 450px
    max-height: 450px
    padding: 10px 0

    .member-item
        margin-bottom: 15px

        &:last-child
            margin-bottom: 0

.members-list.active
    display: flex